<section class="header">
    <div class="header__left">
        <div class="image">
            <img src="assets/logo.png" alt="">
        </div>
    </div>
    <div class="header__right">
        <ul>
            <div class="link" (click)="rolarBanner()">
                <li> <strong>01.</strong> Inicio</li>
            </div>

            <div class="link" (click)="rolarProjetos()">
                <li> <strong>02.</strong> Projetos</li>
            </div>

            
            
            <div (click)="rolarHabilidades()" class="link" >
                <li> <strong>03.</strong> Habilidades</li>
            </div>
            <div class="link" (click)="rolarContato()" href="">
                <li> <strong>04.</strong> Contato</li>
            </div>
        </ul>
    </div>
</section>
